@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* NAVBAR */
.nav-item {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

/* FOOTER */
footer {
  background-color: crimson;
  color: white;
  height: 120px;
  margin-bottom: 0;
}

footer .container {
  text-align: center;
}

.footer-info {
  padding-top: 10px;
}

.footer-info p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.socmed-icon {
  font-size: 18px;

}

.socmed-icon a {
  text-decoration: none;
  margin: 15px 20px;
  color: white;
}

@media (min-width: 992px) {
  /* NAVBAR */
  .navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 12px;
  }

  /* FOOTER */
  footer {
    margin-top: 50px;
    height: 70px;
  }

  footer .container {
    text-align: left;
  }

  .footer-info {
    float: left;
    font-size: 12px;
    padding-top: 10px;
  }

  .socmed-icon {
    float: right;
    margin-top: 10px;
  }
}